In [2]:
import pandas as pd

pure = pd.read_csv("/Users/sanghyun/Downloads/AY2025_S1/tracks_Root.csv")
withSub = pd.read_csv("/Users/sanghyun/Downloads/AY2025_S1/tracks_SubtoRoot.csv")

In [16]:
withSub

       track_id genres
0             2   [21]
1             3   [21]
2             5   [21]
3            10   [10]
4           134   [21]
...         ...    ...
26718    155315   [12]
26719    155316   [12]
26720    155317   [12]
26721    155318   [12]
26722    155319   [12]

[26723 rows x 2 columns]

In [25]:
##[12, 15, 21, 17, 10]
filtered_pure = pure[pure['genres'].str.contains(r'\[12\]|\[15\]|\[21\]|\[17\]|\[10\]', regex=True)]

print(filtered_pure)

       track_id genres
0             2   [21]
1             3   [21]
2             5   [21]
3            10   [10]
4           134   [21]
...         ...    ...
12893    153506   [12]
12894    153507   [12]
12895    153508   [12]
12896    153509   [12]
12897    153510   [12]

[9360 rows x 2 columns]

In [26]:
filtered_Sub = withSub[withSub['genres'].str.contains(r'\[12\]|\[15\]|\[21\]|\[17\]|\[10\]', regex=True)]

print(filtered_Sub)

       track_id genres
0             2   [21]
1             3   [21]
2             5   [21]
3            10   [10]
4           134   [21]
...         ...    ...
26718    155315   [12]
26719    155316   [12]
26720    155317   [12]
26721    155318   [12]
26722    155319   [12]

[18238 rows x 2 columns]

In [27]:
filtered_pure.to_csv('filtered_tracksPure.csv', index=False)

In [28]:
filtered_Sub.to_csv('filtered_tracksSub.csv', index=False)