In [1]:
import pandas as pd

In [129]:
tracks = pd.read_csv("/Users/sanghyun/Downloads/fma_metadata/tracks.csv")
tracks

/var/folders/fk/9s_qpjtn3_q41r9ccg5cn3600000gn/T/ipykernel_69122/115634078.py:1: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  tracks = pd.read_csv("/Users/sanghyun/Downloads/fma_metadata/tracks.csv")

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,NaN,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106571,155316,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,122,NaN,Creative Commons Attribution-NonCommercial-NoD...,102,NaN,3,NaN,[],The Auger
106572,155317,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,194,NaN,Creative Commons Attribution-NonCommercial-NoD...,165,NaN,4,NaN,[],Let's Skin Ruby
106573,155318,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,214,NaN,Creative Commons Attribution-NonCommercial-NoD...,168,NaN,6,NaN,[],My House Smells Like Kim Deal/Pulp
106574,155319,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,336,NaN,Creative Commons Attribution-NonCommercial-NoD...,294,NaN,5,NaN,[],The Man With Two Mouths
106575,155320,0,2017-03-26 16:22:18,2017-03-26 00:00:00,NaN,1,22906,NaN,7481,NaN,...,NaN,972,NaN,Attribution-NonCommercial,705,NaN,7,NaN,"['ballad', 'epic', 'rockabilly', 'curse', 'hex...",Another Trick Up My Sleeve (Instrumental)

In [130]:
tracks_tr = tracks[[col for col in tracks.columns if col.startswith('track')]]

In [131]:
print(tracks_tr.columns.tolist())

['track', 'track.1', 'track.2', 'track.3', 'track.4', 'track.5', 'track.6', 'track.7', 'track.8', 'track.9', 'track.10', 'track.11', 'track.12', 'track.13', 'track.14', 'track.15', 'track.16', 'track.17', 'track.18', 'track.19']

In [132]:
tracks = tracks.rename(columns={
    'Unnamed: 0': 'track_id',
    'track.8': 'genres'
})

In [133]:
tracks = tracks[['track_id', 'genres']]
tracks

        track_id         genres
0            NaN         genres
1       track_id            NaN
2              2           [21]
3              3           [21]
4              5           [21]
...          ...            ...
106571    155316           [25]
106572    155317           [25]
106573    155318           [25]
106574    155319           [25]
106575    155320  [10, 12, 169]

[106576 rows x 2 columns]

In [134]:
import re
tracks = tracks[tracks['genres'].astype(str).str.match(r'\[\d+\]')]
tracks

       track_id genres
2             2   [21]
3             3   [21]
4             5   [21]
5            10   [10]
11          134   [21]
...         ...    ...
106570   155315   [25]
106571   155316   [25]
106572   155317   [25]
106573   155318   [25]
106574   155319   [25]

[26723 rows x 2 columns]

In [135]:
tracks = tracks[tracks['genres'].isin(['[10]', '[12]', '[1235]', '[13]', '[14]', '[15]', '[17]', '[2]', '[20]', '[21]', '[3]', '[38]', '[4]', '[5]', '[8]', '[9]'])]
tracks

       track_id genres
2             2   [21]
3             3   [21]
4             5   [21]
5            10   [10]
11          134   [21]
...         ...    ...
105833   154433    [4]
105834   154434    [4]
105835   154435    [4]
106324   154995   [38]
106325   154996   [38]

[12909 rows x 2 columns]

In [136]:
tracks.to_csv('tracks_Root.csv', index=False)

In [ ]:
genre_proportions = tracks['genres'].value_counts(normalize=True)
genre_counts = tracks['genres'].value_counts()
print(genre_proportions)

genres
[21]      0.211868
[15]      0.208304
[12]      0.146874
[17]      0.104501
[38]      0.102719
[5]       0.056937
[10]      0.053529
[8]       0.042916
[4]       0.027500
[1235]    0.020296
[2]       0.010458
[3]       0.008521
[9]       0.002324
[20]      0.001317
[14]      0.001239
[13]      0.000697
Name: proportion, dtype: float64

In [77]:
genre_counts = tracks['genres'].value_counts()
print(genre_counts)

genres
[21]      2735
[15]      2689
[12]      1896
[17]      1349
[38]      1326
[5]        735
[10]       691
[8]        554
[4]        355
[1235]     262
[2]        135
[3]        110
[9]         30
[20]        17
[14]        16
[13]         9
Name: count, dtype: int64

In [108]:
import pandas as pd
df = pd.read_csv("/Users/sanghyun/Downloads/fma_metadata/tracks.csv")
genre_map = pd.read_csv('/Users/sanghyun/Downloads/genre_mapping.csv', header=None)

/var/folders/fk/9s_qpjtn3_q41r9ccg5cn3600000gn/T/ipykernel_69122/441358682.py:2: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/sanghyun/Downloads/fma_metadata/tracks.csv")

In [109]:
genre_map.columns = ['genre_key', 'genre_ids']
genre_map

    genre_key                                          genre_ids
0           2  [2, 46, 77, 79, 81, 86, 92, 102, 117, 118, 130...
1           3                                           [3, 567]
2           4                     [4, 37, 74, 97, 178, 179, 906]
3           5             [5, 187, 322, 441, 442, 443, 444, 659]
4           8                                                [8]
5           9                        [9, 63, 137, 169, 493, 651]
6          10                                      [10, 76, 362]
7          12  [12, 25, 26, 27, 31, 36, 45, 53, 58, 64, 66, 7...
8          13                                [13, 170, 311, 810]
9          14                                  [11, 14, 19, 377]
10         15  [15, 42, 181, 182, 183, 184, 185, 236, 240, 28...
11         17                         [17, 33, 49, 94, 103, 180]
12         20  [7, 20, 43, 65, 138, 166, 188, 189, 374, 378, ...
13         21             [21, 83, 100, 539, 542, 580, 693, 811]
14         38  [1, 6, 16, 22, 30, 32, 38, 41, 47, 125, 186, 2...
15       1235                          [18, 107, 267, 538, 1235]

In [110]:
df = df.rename(columns={
    'Unnamed: 0': 'track_id',
    'track.8': 'genres'
})

In [111]:
df = df[['track_id', 'genres']]
df = df.iloc[2:].reset_index(drop=True)

import re
df = df[df['genres'].astype(str).str.match(r'\[\d+\]')]

df

       track_id genres
0             2   [21]
1             3   [21]
2             5   [21]
3            10   [10]
9           134   [21]
...         ...    ...
106568   155315   [25]
106569   155316   [25]
106570   155317   [25]
106571   155318   [25]
106572   155319   [25]

[26723 rows x 2 columns]

In [115]:
print(df.dtypes)
print(genre_map.dtypes)

track_id    object
genres      object
dtype: object
genre_key     int64
genre_ids    object
dtype: object

In [116]:
import ast

def to_list(x):
    if isinstance(x, list):
        return x
    if isinstance(x, str) and x.startswith("[") and x.endswith("]"):
        return ast.literal_eval(x)
    return [x]  # fallback

df['genres'] = df['genres'].apply(to_list)
genre_map['genre_ids'] = genre_map['genre_ids'].apply(to_list)

In [117]:
valid_roots = {10, 12, 1235, 13, 14, 15, 17, 2, 20, 21, 3, 38, 4, 5, 8, 9}
mask = ~df['genres'].apply(lambda genres: all(g in valid_roots for g in genres))

In [118]:
def genre_id_to_root(genre_id, genre_map):
    for _, row in genre_map.iterrows():
        if genre_id in row['genre_ids'] or genre_id == row['genre_key']:
            return row['genre_key']
    return genre_id

In [119]:
def fix_genres(genres, genre_map):
    return sorted(set(genre_id_to_root(g, genre_map) for g in genres))

df.loc[mask, 'genres'] = df.loc[mask, 'genres'].apply(lambda x: fix_genres(x, genre_map))

In [120]:
# Print count of unmapped genres
unmapped = df[~df['genres'].apply(lambda genres: all(g in valid_roots for g in genres))]
print(unmapped)

Empty DataFrame
Columns: [track_id, genres]
Index: []

In [122]:
df

       track_id genres
0             2   [21]
1             3   [21]
2             5   [21]
3            10   [10]
9           134   [21]
...         ...    ...
106568   155315   [12]
106569   155316   [12]
106570   155317   [12]
106571   155318   [12]
106572   155319   [12]

[26723 rows x 2 columns]

In [126]:
genre_proportions = df['genres'].value_counts(normalize=True)
genre_counts = df['genres'].value_counts()
print(genre_counts, genre_proportions)

genres
[12]      6766
[15]      4275
[38]      3563
[21]      3029
[17]      2134
[10]      2034
[1235]    1337
[5]        978
[2]        882
[8]        554
[4]        502
[20]       301
[14]       126
[3]        110
[9]        108
[13]        24
Name: count, dtype: int64 genres
[12]      0.253190
[15]      0.159975
[38]      0.133331
[21]      0.113348
[17]      0.079856
[10]      0.076114
[1235]    0.050032
[5]       0.036598
[2]       0.033005
[8]       0.020731
[4]       0.018785
[20]      0.011264
[14]      0.004715
[3]       0.004116
[9]       0.004041
[13]      0.000898
Name: proportion, dtype: float64

In [127]:
df.to_csv('tracks_SubtoRoot.csv', index=False)